COMMERCETOOLS_API_URL='https://api.europe-west1.gcp.commercetools.com/'
COMMERCETOOLS_AUTH_URL='https://auth.europe-west1.gcp.commercetools.com/'
COMMERCETOOLS_PROJECT_KEY='ecube-template-test'
# API client with 'manage_project' scope
COMMERCETOOLS_CLIENT_ID='5anYTdI38oBNc4_Nm5IrHqSI'
COMMERCETOOLS_CLIENT_SECRET='lj0q8YMw1OcyoiP2L0re8JnZpauct0vg'
# API client with customer scopes
# An API client using the 'manage_project' scope cannot request tokens with lower priviledged scopes
COMMERCETOOLS_AUTH_CLIENT_ID='NK9mSSr_Qh-azlTvwutVDxp_'
COMMERCETOOLS_AUTH_CLIENT_SECRET='caCJ1GMPVuZjwCVex6nsURI_YDFQzBS-'
COMMERCETOOLS_AUTH_CLIENT_SCOPES='manage_my_payments,manage_my_profile,view_categories,manage_my_orders,manage_my_shopping_lists,view_published_products'

ALGOLIA_APPLICATION_ID=
# This key is only usable for search queries
ALGOLIA_SEARCH_KEY=
ALGOLIA_INDEX =
# Valid values for search provider: 'algolia' or 'commercetools'. If empty, commercetools is used by default.
SEARCH_PROVIDER_TO_USE=

DEFAULT_LOCALE=de-DE
FALLBACK_LOCALE=en

CONTENTFUL_SPACE_ID='asbmtjbs8obe'
CONTENTFUL_ENVIRONMENT='master'
# CONTENTFUL_MANAGEMENT_API_TOKEN='CFPAT-0GpNWiinmSTCv-_87YmgbKMmmWPE0KuDTkYAQl6I9PU'
# CONTENTFUL_CONTENT_DELIVERY_API_TOKEN='Ztp1PYhDZnbleKnjY6fV3qigI6t3r9h0PWMyhwrlTSo'
CONTENTFUL_MANAGEMENT_API_TOKEN='CFPAT-Gqwj2-b_LUs9KJ7gb80J_SmNhF_lDYYVx0PcGKHfWHo'
CONTENTFUL_CONTENT_DELIVERY_API_TOKEN='YiA81E56m-FTyAvUmPamn5FgyGG2fZ-y7Lt-3-pQD_g'

STORYBLOK_ACCESS_TOKEN="4aqfIPzeJfHGc3Pe9W9nfwtt"
STORYBLOK_CONTENT_VERSION="draft"

TELEGRAF_HOST='192.168.194.206'
TELEGRAF_PORT=8125

PRICE_SERVICE_HEALTHCHECK_URL='http://localhost:8080/actuator/health'
PRICE_SERVICE_API_URL='http://localhost:8080/graphql'
ENABLE_GRAPHQL_PLAYGROUND=true

FACET_CONFIGURATION_YAML_FILE=./config/facet-configuration.yml

# PinoLogger level - NestJS Logger level
# trace - verbose
# debug - debug
# info - log
# warn - warn
# error - error
# configure a Pino log level here- not a NestJS log level!
#LOG_LEVEL_DEVELOPMENT='trace'

# the secret to sign cookies
COOKIE_PARSER_SIGNATURE_SECRET='zHM7u*]Y%$2,7Aq3bfg<]^bf#WE"hpoRc'

# the secret to sign JSON web tokens
JWT_SECRET=',f4.m~FoWgmC5t=?pU8_SV*4mo/jwL3-'

# the secret for AES256 encryption
CRYPTO_SECRET='nBseyDVun~gCn@CDX[=uX&Wi4Yj6*66*'
# the size of the initialization vector is the same size as the block size, which for AES is always 16 bytes
CRYPTO_IV='ZpnAA-i?Sdc&/5<W'

# some browsers, such as Chrome, ignore secure cookies that are not received over a secure connection.
# thus, for development/localhost we disable secure cookies,
# BUT FOR PRODUCTION (W. SECURE CONNECTIONS) COOKIES *MUST* BE SECURE !!!
AUTHORIZATION_COOKIE_OPTIONS_SECURE='false'

# needs to be configured individually for each deployment/development environment
# in order to have separate login-states for each environment
AUTHORIZATION_COOKIE_OPTIONS_NAME='authtoken_dev'

CORS_WHITELIST=["http://localhost:3000"]
